<div class="navbar navbar-inverse">
<div class="navbar-inner">
  <div class="container">
      <ul class="nav">
        <li>
          <a class ="brand" href="/">
               &nbsp; &nbsp; &nbsp; Webstore
          </a>
        </li>
      </ul> <!-- NAV -->
    </div><!--/.nav-collapse -->
  </div>
</div>